/*Dragonbase Slideshow*/
#dragonbase-slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    transition: .3s ease-in;
    background-image: url('../images/slideshow/3.jpg');
}

#dragonbase-slideshow-buttons {
    position: absolute;
    z-index: 2;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 2%;
}

/*Box and slideshow info panels*/
.info-panel, .info-panel-slideshow {
    position: absolute;
    padding: 20px 20px 20px 20px;
    width: 100%;
    opacity: 0.9;
    background-color: #010219;
    bottom: 0;
    z-index: 2;
    text-align: center;
    color: white;
}

.info-panel-slideshow {
    height: 35vh;
}

.info-panel-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Info panel additional styling classes*/
.smaller {
    height: 23vh;
}

.red {
    background-color: red;
    opacity: 0.2;
}

.photo-menu, .hamburger-panel {
    position: relative;
    height: 100%;
    text-align: right;
}

/*Slideshow buttons*/
.slideshow-button {
    color: white;
    background-color: #008CE9;
    padding: 3px 12px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 160px;
    border: none;
    outline: none;
    display: inline-block;
}

    .slideshow-button:hover {
        background-color: #00B8E9;
        cursor: pointer;
        transition: .3s ease-in-out;
    }

