/*Footer*/
.footer {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    bottom: 0;
    margin-bottom: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    color: white;
    line-height: 3vh;
}

#dragon-footer {
    height: 150px;
    width: 150px;
}

#copyright-text {
    text-align: center;
    padding-bottom: 2.5%;
}

.footer-link {
    font-size: 12px;
    line-height: 0.5% !important;
}

/*Columns*/
.two-column, .three-column, .four-column, .five-column {
    float: left;
    padding-right: 50px;
}

.two-column {
    width: 50%;
}

.three-column {
    width: 33%;
}

.four-column {
    width: 25%;
}

.five-column {
    width: 20%;
}

.six-column {
    float: left;
    padding-right: 25px;
    width: 16%;
}

.eight-column {
    float: left;
    padding-right: 25px;
    width: 12%;
}

.row:after { /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}

.padding-bottom {
    padding-bottom: 3%;
}

/*Responsive*/
.mobile-menu {
    width: 100%;
    padding-bottom: 3vh !important;
}

@media only screen and (max-width: 1025px) {
    #tedx-footer, #digitalleaders-footer, #stepintotech-footer {
        display: none;
    }

    .footer-link {
        line-height: unset !important;
        padding-top: 0.5vh !important;
        padding-bottom: 0.5vh !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
    #footer-ux, #footer-photography {
        display: none;
    }

    .four-column {
        width: 33%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
    #footer-ux, #footer-workexperience, #footer-photography {
        display: none;
    }

    .four-column {
        width: 50%;
    }
}

@media only screen and (max-width: 499px) {
    #footer-ux, #footer-workexperience, #footer-portfolio, #footer-photography {
        display: none;
    }

    .four-column {
        width: 100%;
    }

    #dragon-footer {
        width: 75%;
        height: 75%;
        padding-top: 2vh;
    }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
    #footer-ux, #footer-workexperience, #footer-photography, #footer-portfolio {
        display: none;
    }

    .footer-link {
        padding-top: 1.25vh !important;
        padding-bottom: 1.25vh !important;
    }

    #dragon-footer {
        width: 75%;
        height: 75%;
    }
}



