/*Desktop menu bar*/
.desktop-hamburger-button { /*class to hold the menu buttons on the desktop website*/
    top: 0;
    float: right;
}

/*Menu bar*/
.menu {
    position: relative;
    width: 100vw;
    padding-left: 3%;
    background-color: white;
    height: 7%;
    background-color: white;
}

/*Mega menu*/
.mega-menu {
    position: relative;
    background-color: white;
    border-color: black;
    border: 4px;
    z-index: 500;
    display: none;
    padding-top: 2.5%;
    padding-bottom: 3%;
    padding-left: 3%;
}

/*Item spacing in the mega menu*/
.group-item {
    line-height: 1.5vh !important;
}


/*View for the collapsed menu*/
.collapse-menu {
    height: 5vh;
    position: fixed !important;
    z-index: 998;
}

.collapse-menu, .collapse-menu-button {
    background-color: #03031b !important;
    color: white !important;
}

    .collapse-menu-button:hover {
        background-color: red !important;
    }

.mega-menu-collapsed {
    position: fixed;
    padding-top: 5%;
    width: 100%;
    color: white;
    background-color: #191919;
    background-image: linear-gradient(0deg,rgba(25,25,25,0.8),rgba(0,0,0,0.8)), url("../images/menu-bg.jpg");
    background-size: cover;
   
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
    transition: 0.5s all !important;
}

.unset-bg {
    background-color: unset;
    transition: 0.5s, all;
}

.far-right {
    float: right;
}

/*Home button for collapsed nav*/
#home-button {
    background-image: url('../images/load-logo.png');
    background-size: 4vh;
    background-position: center;
    background-repeat: no-repeat;
    width: 9vw;
    color: transparent !important;
}

/*Burger menu button*/
#burger-button {
    display: none; /*keep this enabled, if it's set to 'none' the button won't show on mobile view*/
    text-align: center;
}

.burger {
    width: 20px;
    height: 1px;
    background-color: white;
    margin: 3px 6px;
}

/*Pendragon mobile text*/
#pendragon-mobile-logo, #pendragon-mobile-text {
    display: none;
}

#pendragon-mobile-text {
    left: 0;
    margin-left: 12%;
    top: 0;
    margin-top: -7.5%;
}

#pendragon-mobile-logo {
    padding-top: 8.5%;
}

/*Menu buttons*/
.menu-button {
    outline: none;
    height: 100%;
    width: 10%;
    border: none;
    padding-bottom: 0.2%;
    padding-left: 0.2%;
    color: black;
    background-color: white;
    font-size: 1.5vh;
    width: 12vw;
    text-align: center;
}

    .menu-button:hover {
        color: white !important;
        background-color: red !important;
        cursor: pointer;
        transition: .3s ease-in-out;
    }

.menu-button:focus { /*remove outline from buttons in certain browsers (Google Chrome)*/
    outline: 0;
}

.button-selected {
    background-color: red;
}


/*--MEGA MENU RESPONSIVE--*/

/*--COLLAPSED MENUBAR--*/


@media only screen and (min-width: 430px) and (max-width: 1050px) {
    h2 {
        font-size: 20px;
    }

    .link {
        font-size: 12px;
    }

    .ux-menu {
        width: 33%;
    }

    .portfolio-menu, .work-menu {
        width: 20%;
    }

    .about-menu {
        width: 50%;
    }
}

@media only screen and (max-width: 1050px) and (orienation: portrait) {
    .mega-menu-collapsed {
        padding-top: 10%;
    }
}

@media only screen and (max-width: 1050px) and (orienation: landscape) {
    .mega-menu-collapsed {
        padding-top: 8.5%;
    }
}


