/*PARALLAX common elements*/
/*Parallax section titles*/
.parallax-title {
    position: relative;
    left: 0;
    top: 30vh;
    width: 100%;
    text-align: center;
    color: red;
    font-size: 10vh;
    text-shadow: 2px 2px #010219;
}

.move-up {
    top: 10vh !important;
}

.project-intro {
    color: white !important;
    font-size: 2vh !important;
    position: relative;
    left: 0;
    text-align: center;
    top: 32.5vh;
}

.outcome-button {
    position: relative;
    text-align: center;
    top: 35vh;
}

/*Parallax button styling*/
.parallax-button {
    background-color: #010219;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

    .parallax-button:focus { /*remove outline from buttons in certain browsers (Google Chrome)*/
        outline: 0;
    }

    .parallax-button:hover { /*styles for button hover - added as a class in 'animations.js'*/
        background-color: red;
        transition: .3s;
        font-size: 18px;
        color: white !important;
    }


.parallax-section, .parallax-welcome {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.parallax-section {
    min-height: 70vh;
}

/*Opening parallaxes (don't apply to index welcome-section else video won't be responsive*/
.parallax-welcome {
    min-height: 100vh;
}

.parallax-textbox { /*refer to earlier in the stylesheet for shared properties with 'textcontainer'*/
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

/*RELATED SECTION*/
#related-section, #related-photography-section {
    min-height: 40vh !important;
}

#related-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/workexperience/pendragon.png");
}

#related-photography-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/portfolio/photography.jpg");
}

/*HOME PAGE*/
#about-section, #about-welcome { /*About*/
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/home/jason.jpg");
}

#portfolio-section { /*Portfolio*/
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/portfolio/portfolio.png");
    min-height: 85vh;
}

#workexperience-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/redgate/webart2.png");
}

#nua {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/portfolio/uni.jpg");
}

#portfolio-welcome {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/portfolio/portfolio2.png");
}

#preuni-section, #preuni-welcome {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/portfolio/preuni.jpg");
}

#edtech-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/portfolio/tedx.jpg");
}

#photography-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/portfolio/photography.jpg");
}

#edtech-welcome {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/portfolio/education.jpg");
}

#tedx-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/portfolio/tedx.jpg");
}

#microsofte2-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/workexperience/microsoft.jpg");
}

#sdl-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/workexperience/digitalleaders.jpg");
}

#stepintotech-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/workexperience/techathon.jpg");
}

#workexperience-welcome {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/workexperience/we-header.jpg");
}

#userstory-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/workexperience/userstory.jpg");
}

#earthware-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/workexperience/earthware.jpg");
}

#microsoft-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/workexperience/microsoft.jpg");
}

#bett2019-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/workexperience/bett2019.jpg");
}

#johnellison-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/workexperience/shadowing.jpg");
}

#nuasa-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/workexperience/nuasa.jpg");
}

#wymhigh-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url("../images/workexperience/wymhigh.jpg");
}

#storehouse-welcome {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/storehouse.jpg");
}

#cura-t-welcome {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/cura-t/cura-t-3.jpg");
}

#redgate-welcome {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/redgate/redgate.jpg");
}

#userstory-welcome {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/userstory/userstory.jpg");
}

#nellies-welcome {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/nellies/nn-header.JPG");
}

#stellardrive-welcome {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/stellardrive.jpg");
}

#broads-welcome {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/broads/broads.jpg");
}

#pendragon-logo-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/workexperience/pendragon.png");
}

#nellies-final {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/nellies/nn-5.jpg");
}

#nellies-about {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/nellies/nn-6.jpg");
}

#cura-t-final {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/cura-t/cura-t-2.jpg");
}

#cura-t-about {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/cura-t/cura-t-4.jpg");
}

#stellardrive-final {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/stellardrive/fiat.jpg");
}

#stellardrive-about {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/stellardrive/fiesta.jpg");
}

#storehouse-final {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/storehouse/team.jpg");
}

#storehouse-about {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/storehouse/sh18.jpg");
}

#redgate-final {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/redgate/webart.jpg");
}

#redgate-about {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/redgate/webart2.jpg");
}

#broads-final {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/broads/broads2.jpg");
}

#broads-about {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/broads/broads3.jpg");
}

#userstory-final {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/userstory/home.jpg");
}

#userstory-about {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/userstory/casestudy.jpg");
}

#graphiccomms-final {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/preuni/brainynia.jpg");
}

#compsci-final {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/portfolio/preuni/apps.jpg");
}

#usertesting-about {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)),url("../images/services/testers.jpg");
}

