/*PENDRAGON ONLINE
VERSION 2.1
May 2019
*/

/*Body*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    background-color: white; /*default colour is white, purple for home only!*/
    color: black; /*default colour is black, white for home only!*/
    font-family: Helvetica, sans-serif;
}

.wrapper {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/*Typography*/

/*Quicksand Font*/
@font-face {
    font-family: "quicksand";
    src: url(../fonts/QuicksandLight-Regular.otf) format('opentype');
    src: url(../fonts/QuicksandLight-Regular.ttf) format('truetype');
    src: url(../fonts/QuicksandLight-Regular.eot) format('embedded opentype');
    src: url(../fonts/QuicksandLight-Regular.woff) format('woff');
    src: url(../fonts/QuicksandLight-Regular.woff2) format('woff2');
}

t { /*'pendragon online' header text/logo*/
    color: red;
    font-family: quicksand, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

p, h3, h4, f1, f2, m1, td, th {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5vh;
}

h1, h2, h3 {
    font-family: quicksand, Arial, Arial, Helvetica, sans-serif;
    color: red;
    font-weight: bold;
}

p {
    font-size: 16px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

h1, h2, h3 {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

h1 {
    font-size: 32px;
    
}

h2, i1 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 { /*image captions*/
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
}

i1 {
    font-style: italic;
}

m1 {
    font-size: 16px;
    text-align: center;
    visibility: hidden;
}

a {
    color: unset; /*inherit the colour of the text tag instead of the a tag for links*/
    text-decoration: none;
}

a:hover {
    color: red;
    transition: .2s ease-in-out;
}

/*a:visited {
    color: orangered;
}*/


/*Container*/
#container {
    width: 100%;
}

.header-area {
    position: absolute;
}

/*Header (area that holds the menu bar and logo)*/
#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 12%;
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url(../images/hd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    z-index: 996;
}

/*Logo div*/
#Logo {
    top: 0;
    margin-top: 3vh;
    margin-left: 8vw;
    float: left;
}

    #Logo:hover {
        cursor: pointer;
        text-shadow: 0px 0px 30px red;
        transition: .2s ease-in-out;
    }

/*Pendragon logo holder*/
#dragon-logo {
    position: absolute;
    top: 0;
    margin-top: 1.5vh;
    margin-left: 1vw;
    z-index: 997;
}

/*Pendragon logo*/
#pendragon-logo {
    height: 9vh;
}

#dragon-logo:hover {
    transform: rotateX(360deg);
    transition: 2s;
}

/*Text containers*/
#textcontainer, .parallax-textbox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 2% 2% 2% 2%;
    width: 65%;
}

.minimal-pad {
    width: 95% !important;
}

.right {
    float: right;
    text-align: right;
    padding-right: 3%;
    width: 10%;
}

/*Image classes*/
.img-full, .img-right, .img-left, .vid-full {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.img-full, .vid-full {
    max-width: 100%;
    height: auto;
}

.img-right {
    left: 0;
    margin-left: 50vw;
    height: 200px;
}

.img-left {
    left: 0;
    margin-left: 2.5vw;
    height: 200px;
}

.img-footer {
    border-radius: 50%;
}

.hero-image {
    position: relative;
    min-width: 100vw;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: 25000;
    display: inline-block;
    z-index: 1;
}

/*Button*/
.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
}

.button:hover {
    background-color: orangered;
    transition: .3s ease-in-out;
}

/*Invert classes*/
.dark-ui {
    background-color: #151515 !important;
}

.dark-button {
    background-color: black !important;
}

.white-text {
    color: white !important;
}

.red-text {
    color: orangered !important;
}

.orange-button {
    background-color: orangered !important;
}

.dark-menu, .dark-footer {
    background-repeat: no-repeat;
    background-size: cover;
}

.dark-header {
    background-image: linear-gradient(0deg,rgba(21,21,21,0.8),rgba(0,0,0,0.8)), url('../images/hd-dark.jpg') !important; 
    background-position: right top;
}

.dark-footer {
    background-image: linear-gradient(0deg,rgba(21,21,21,0.8),rgba(0,0,0,0.8)), url(../images/menu-bg.jpg) !important;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

    /*Preloader*/
    #preloader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #010219;
        z-index: 100000000000;
    }

    #status {
        width: 250px;
        height: 250px;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../images/pendragon-small.gif);
        background-repeat: no-repeat;
        background-position: center;
    }
