@media only screen and (max-width: 1610px) { /*adjust the line height and padding and re-enable overflow*/
    p, h3, h4, f1, f2, m1, td, th {
        line-height: unset;
    }

    p, h1, h2, h3 {
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
}

@media only screen and (max-width: 1025px) { /*disable parallax on all devices iPad-sized and smaller*/
    .parallax-section {
        background-attachment: unset;
        max-height: 35vh;
    }

    .two-column, .three-column {
        width: 100%;
    }
}

@media only screen and (max-width: 850px) { /*generic mobile properties*/
    .parallax-title {
        font-size: 6vh;
        top: 12vh;
        text-align: center !important;
    }

    h4 {
        text-align: center;
    }

    .parallax-section {
        min-height: 30vh !important;
    }

    .carousel-title {
        text-align: center !important;
    }

    .parallax-welcome {
        min-height: 55vh !important;
    }

    .project-intro {
        font-size: 1.5vh !important;
        padding-left: 2vw;
        padding-right: 2vw;
        top: 10vh;
        text-align: center !important;
    }

    .outcome-button {
        top: 11vh;
        font-size: 12px;
        padding: 10px;
    }

    .parallax-textbox, #textcontainer {
        width: 85%;
        padding: 1vh;
    }

    #textcontainer {
        text-align: left !important;
    }

    .section-introduction {
        display: none;
    }

    .two-column, .three-column, .minimal-pad {
        width: 100% !important;
        padding: 1.5vh;
    }
}

@media only screen and (max-width: 850px) and (orientation: landscape) { /*hide the mobile menu on devices larger than Pixel 2 XL - landscape view*/
    #mobile-menu {
        display: none !important;
    }

    .parallax-section {
        height: 100% !important;
    }
}

@media only screen and (min-height: 851px) and (max-height: 1025px) and (orientation: portrait) { /*adjust site title and logo for iPad portrait view*/
    #Logo {
        margin-left: 14vh;
    }

    t {
        font-size: 4.5vw;
    }
}

@media only screen and (min-width: 900px) and (orientation: portrait) {
    #Logo {
        margin-top: 4vh;
        margin-left: 16vw;
    }

    t {
        font-size: 4vw;
    }
}

@media only screen and (max-height: 850px) and (orientation: portrait) { /*Mobile menu (mostly) - portrait*/
    #header, #portfolio-button, #ux-button, #work-button, #about-button, #blog-button, #photography-button {
        display: none;
    }

    #home-button, #burger-button {
        display: block !important;
    }

    .menu {
        height: 5vh;
        position: fixed;
        z-index: 998;
        background-color: #010219 !important;
    }

    .menu-button {
        background-color: transparent !important;
        width: unset;
        font-size: unset;
    }

    .invert-button {
        right: 0;
        top: 0;
        margin-right: 13vw;
        color: white !important;
        padding: unset;
    }

    #mobile-menu {
        background-image: linear-gradient(0deg,rgba(25,25,25,0.8),rgba(0,0,0,0.95)), url(../images/mobile-menu.jpg);
    }

    .section-title {
        display: block;
    }

    .mega-menu-collapsed {
        position: fixed;
        height: 100vh;
        width: 100vw !important;
        padding-top: 7vh;
    }

    .section-title {
        font-size: 3vh !important;
    }

    .group-title {
        font-size: 2vh !important;
        color: white !important;
        padding-left: 3vw !important;
    }

    .footer {
        background-size: unset;
    }

    .tile-button {
        width: 100% !important;
    }

    .photography-page-info-panel {
        height: 33vh !important;
    }

    .far-right {
        margin-top: -5vh;
    }
}

@media only screen and (max-height: 430px) and (orientation: landscape)  { /*Menu - landscape*/
    .collapse-menu {
        height: 8vh;
    }

    .menu-button {
        font-size: 2vw;
    }

    p {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
}

@media only screen and (min-height: 371px) and (max-height: 430px) and (orientation: landscape) { /*hide select elements from the mega menu on landscape mobile view*/
    #preuniwork-menu-section, #photography-menu-section {
        display: none;
    }
}


